<h2>New Book</h2>
<%= form_with model: @book do |f| %>
  <%= f.label "Title" %>
  <%= f.text_field :title %>
  <%= f.label "Opinion" %>
  <%= f.text_area :body %>
  <%= f.submit "Create Book" %>
<% end %>